.about1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    gap: 1.5rem;
    background-image: url('image/bgold.png');
    background-size: cover;
 }
 @media (max-width: 768px) {
 .about1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    gap: 1.5rem;
    text-align: center;
 }

 .about1 {
    align-items: center;
}
.about1-text {
    text-align: center;
}
.about1-text h2 {
    font-size: 1.2rem;
}

.about1-img img{
    border-bottom: 0.5rem;
    margin-top: 200px;
    
 }
 }

 .about1-img img{
    border-bottom: 0.5rem;
    margin-top: 100px;
    
 }
 .about1-text h2{
    font-size: 1.8rem;
    
    margin-top: 100px;
    color: white;
 }
 .about1-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
    color: white;

 }
 .about1-text .p1{
    margin-top: 30px;
 }

 .about1-text .p2{
    margin-bottom: 60px;
 }

 .btn1{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
 }
 
 .btn1:hover{
    background: #8a6f4d;
 }

 /* ------------------------------------ CSS FOR HEADER------------------------------*/
 
 
